@page
@model ProyectoResidenciasWeb.Pages.AdministradorIndexModel
@{
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio de Sesión</title>
    <link rel="stylesheet" href="/css/styles.css" />

    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Space+Grotesk:wght@300..700&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">

    <style>
        .docente {
            display: flex;
            flex-direction: column;
            padding: 10px;
           
            margin: 5px 0;
            border-radius: 5px;
        }

        .columna {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .boton-examen {
            padding: 5px 10px;
            border-radius: 6px;
           
            background-color: #70a0e6;
            font-weight: 500;
            font-size: 1rem;
            cursor: pointer;
        }

        .examenes-container {
            max-height: 200px; /* Limita la altura del contenedor de exámenes */
            overflow-y: auto; /* Permite el scroll vertical */
            margin-top: 10px;
            background-color: #f9f9f9;
            padding: 5px;
            border-radius: 5px;
            display: none; /* Oculto por defecto */
        }

        .examen {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border:1px solid gray;
            margin: 5px ;
            border-radius: 10px;
            
        }

        .examen-info {
            flex: 1;
        }

        .boton-descargar {
            padding: 5px 10px;
            border-radius: 6px;
            font-size:medium;
            background-color: var(--naranja);
            color: white;
            font-weight: 500;
            cursor: pointer;
            border:none;
        }
    </style>
</head>
<body>

    <!-- Header con logos y botón de registro -->


    <header class="header">
        <img src="/images/logo_coah.png" alt="Logo Izquierda" class="logo-izquierda">
        <label>Generador de pruebas escritas.</label>
        <div class="header-right">
            <img src="/images/logo_sedu4.png" alt="Logo Derecha" class="logo-derecha">

        </div>


    </header>


    <!--BUENO-->

    <div class="index-options">
        <div>
            <h3>
                Administrador<span id="nombre-perfil"></span><svg id="settingsIcon" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
                    <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                </svg>
            </h3>
           @*  <label id="rol" class="instrucciones" style="font-size:large; font-weight: normal;
                   color: gray;
                   font-family: 'Quicksand' ; ">Administrador</label> *@
        </div>

       

        <!---------------------------------------->
        <!-- Modal cambiar contraseña -->

        <div id="cambiarContrasenaModal" class="modal">

            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Cambiar Contraseña</h2>

                <form id="cambiarContrasenaForm">
                    <div class="input-group">
                        <input type="password" id="current-password" required placeholder=" ">
                        <label for="current-password">Contraseña Actual</label>
                    </div>
                    <div class="input-group">
                        <input type="password" id="new-password" required placeholder=" ">
                        <label for="new-password">Nueva Contraseña</label>
                    </div>
                    <div class="input-group">
                        <input type="password" id="confirm-new-password" required placeholder=" ">
                        <label for="confirm-new-password">Confirmar Nueva Contraseña</label>
                    </div>
                    <button type="submit">Guardar</button>
                </form>

            </div>

        </div>

        <div id="contextMenu" class="context-menu">
            <ul>
                <li id="cambiar-contraseña">Cambiar contraseña</li>
                <li id="logout">Cerrar sesión</li>
            </ul>
        </div>


        <div class="index-options-btns">

            <button onclick="window.location.href='AdministradorIndex'">
                Inicio
            </button>

            <button onclick="window.location.href='agregarDocente'" class="btn-agg-alumno" id="openModalBtn">
                 Agregar Docente
            </button>

            <button onclick="window.location.href='FiltroBancoReactivos' " class="btn-examenlist">
               Banco de reactivos
            </button>
        </div>
    </div>

    <div class="main-container-admin-index">
        <div class="form-container-admin-index">
            <h1>Lista de docentes</h1>
            <ul id="docentes-list"></ul>
            <button id="volver" class="hidden">Volver</button>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', async () => {

           

            try {

                const nombrePerfil = sessionStorage.getItem('nombre');
                if (nombrePerfil) {
                    document.getElementById('nombre-perfil').textContent = nombrePerfil;
                }

                const response = await fetch('https://residenciassebapi.sistemas19.com/api/Docente/docentes');
                const data = await response.json();
                const docentesList = document.getElementById('docentes-list');

                data.forEach(docente => {
                    const listItem = document.createElement('li');
                    listItem.classList.add('docente');
                    listItem.innerHTML = `
            <div class="docente-contenedor">
                <div class="info-docente">
                    <h3>${docente.nombre}</h3>
                    <p>${docente.usuario.nombreUsuario}</p>
                </div>
                <div class="boton-contenedor">
                    <button class="boton-examen" onclick="toggleExamenes(${docente.id}, this)">Ver Exámenes</button>
                </div>
            </div>
            <div id="examenes-${docente.id}" class="examenes-container"></div>
        `;

                    docentesList.appendChild(listItem);
                });
            } catch (error) {
                console.error('Error al cargar la lista de docentes:', error);
            }
        });

        async function toggleExamenes(docenteId, button) {
            const examenesContainer = document.getElementById(`examenes-${docenteId}`);

            if (examenesContainer.style.display === 'none' || examenesContainer.style.display === '') {
                // Mostrar exámenes
                await cargarExamenes(docenteId, examenesContainer);
                examenesContainer.style.display = 'block';
                button.textContent = 'Ocultar Exámenes';
            } else {
                // Ocultar exámenes
                examenesContainer.style.display = 'none';
                button.textContent = 'Ver Exámenes';
            }
        }

        async function cargarExamenes(docenteId, container) {
            try {
                const response = await fetch(`https://residenciassebapi.sistemas19.com/api/Examen/examenesPorDocente/${docenteId}`);
                const examenes = await response.json();
                container.innerHTML = ''; // Limpiar lista de exámenes previos

                examenes.forEach(examen => {
                    const listItem = document.createElement('div');
                    listItem.classList.add('examen');
                    listItem.innerHTML = `
                                <div class="examen-info">
                                    <h4>Examen ID: ${examen.id}</h4>
                                    <p>Asignatura: ${examen.asignatura}</p>
                                    <p>Campo Formativo: ${examen.campoFormativo}</p>
                                    <p>Nivel Educativo: ${examen.nivelEducativo}</p>
                                    <p>Fecha: ${examen.fecha}</p>
                                </div>
                                <button class="boton-descargar" onclick="descargarExamen(${examen.id})">Descargar</button>
                            `;
                    container.appendChild(listItem);
                });
            } catch (error) {
                console.error('Error al cargar los exámenes del docente:', error);
            }
        }

        function descargarExamen(examenId) {
            window.location.href = `https://residenciassebapi.sistemas19.com/api/Examen/DescargarExamen?examenId=${examenId}`;
        }
    </script>

    <script src="/js/script.js"></script>
</body>
</html>