@page
@model ProyectoResidenciasWeb.Pages.AgregarAlumnoModel
@{
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Alumno</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Space+Grotesk:wght@300..700&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">


</head>
<body>

     <!-- Header con logos y botón de registro -->

    
    <header class="header">
        <img src="/images/logo_coah2.png" alt="Logo Izquierda" class="logo-izquierda">
        <div class="header-right">
            <img src="/images/logo_sedu.png" alt="Logo Derecha" class="logo-derecha">
             
        </div>
    </header>

    <div class="index-options">
        <div>
            <h3>
                Hola,<span>Roberto Rodriguez Wong</span><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
                    <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                </svg>
            </h3>
        </div>



        <div class="index-options-btns">
            <button onclick="window.location.href='agregarAlumno'" class="btn-agg-alumno" id="openModalBtn">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-plus" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7a9f37" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M20.985 12.528a9 9 0 1 0 -8.45 8.456" />
                    <path d="M16 19h6" />
                    <path d="M19 16v6" />
                    <path d="M9 10h.01" />
                    <path d="M15 10h.01" />
                    <path d="M9.5 15c.658 .64 1.56 1 2.5 1s1.842 -.36 2.5 -1" />
                </svg>Agregar Alumno
            </button>

            <button onclick="window.location.href='ListaExamenes'" class="btn-examenlist">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list-check" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#4a6a99" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M3.5 5.5l1.5 1.5l2.5 -2.5" />
                    <path d="M3.5 11.5l1.5 1.5l2.5 -2.5" />
                    <path d="M3.5 17.5l1.5 1.5l2.5 -2.5" />
                    <path d="M11 6l9 0" />
                    <path d="M11 12l9 0" />
                    <path d="M11 18l9 0" />
                </svg>Exámenes
            </button>
        </div>
    </div>

   

    <div class="agg-alumno-container">


        <h1>Agregar Alumno</h1>
        <label class="instrucciones">LLena los campos con la informacion del nuevo alumno.</label>

        <form id="form-alumno" onsubmit="guardarAlumno(event)">

          
            <div class="input-group">
                <input type="text" id="nombre-alumno" name="nombre-alumno" required placeholder=" ">
                <label for="nombre-alumno">Nombre</label>
                <span class="error-message">Error en el nombre</span>
            </div>


            <div class="input-group">
                <input type="text" id="nombre-usuario" name="nombre-usuario" required placeholder=" ">
                <label for="nombre-usuario">Usuario</label>
                <span class="error-message">Error en el usuario</span>
            </div>



            <div class="input-group">
                <input type="email" id="email-alumno" name="email-alumno" required placeholder=" ">
                <label for="email-alumno">Correo</label>
                <span class="error-message">Error en el correo</span>
            </div>


            <div class="input-group">
                <input type="number" id="grado" name="grado" required placeholder=" ">
                <label for="grado">Grado</label>
                <span class="error-message">Error en el grado</span>
            </div>




            <div class="input-group">
                <input type="text" id="seccion" name="seccion" required placeholder=" ">
                <label for="seccion">Sección</label>
                <span class="error-message">Error en la seccion</span>
            </div>


            <div class="input-group">
                <input type="password" id="contraseña" name="contraseña" required placeholder=" ">
                <label for="contraseña">Contraseña</label>
                <span class="error-message">Error en la contraseña</span>
            </div>

            <button type="submit">Guardar Alumno</button>
            <a href="index">Volver a Inicio</a>

        </form>

        

    </div>

   

    <script>
        async function guardarAlumno(event) {
            event.preventDefault();

            const docenteId = sessionStorage.getItem('docenteId');
            const nombre = document.getElementById('nombre-alumno').value;
            const nombreUsuario = document.getElementById('nombre-usuario').value;
            const email = document.getElementById('email-alumno').value;
            const grado = document.getElementById('grado').value;
            const seccion = document.getElementById('seccion').value;
            const contraseña = document.getElementById('contraseña').value;

            const alumno = {
                Nombre: nombre,
                NombreUsuario: nombreUsuario,
                Email: email,
                Contraseña: contraseña,
                Grado: grado,
                Seccion: seccion,
                DocenteId: docenteId
            };

            try {
                const response = await fetch('https://localhost:7162/api/alumno/CrearAlumno', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(alumno)
                });

                if (!response.ok) {
                    throw new Error('Error al guardar el alumno');
                }

                alert('Alumno guardado exitosamente.');
                document.getElementById('form-alumno').reset();
            } catch (error) {
                console.error('Error al guardar el alumno:', error);
                alert('Hubo un error al guardar el alumno.');
            }
        }
    </script>
</body>
</html>