@page
@model ProyectoResidenciasWeb.Pages.LoginModel
@{
}
<!DOCTYPE html>
<html class="html-log" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio de Sesión</title>
    <link rel="stylesheet" href="~/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Space+Grotesk:wght@300..700&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
</head>
<body class="body-log">
    <!-- Header con logos y botón de registro -->
    <header class="header-log">
        <img src="~/images/logo_coah2.png" alt="Logo Izquierda" class="logo-izquierda">
        <div class="header-right">
            <img src="~/images/logo_sedu.png" alt="Logo Derecha" class="logo-derecha">
            <!-- <button class="register-button">Registrarse</button> -->
        </div>
    </header>

    <!-- Contenedor principal -->
    <div class="main-container">
        <!-- Parte de la imagen -->
        <div class="image-container">
            <label>Generador de pruebas escritas.</label>
            <img src="~/images/img1.png" alt="Imagen de Login">
        </div>

        <!-- Parte del formulario -->
        <div class="form-container">
            <h1>Inicia sesión</h1>
            <label>Por favor, ingresa tus credenciales.</label>
            <form id="login-form" onsubmit="login(event)">
                <div class="input-group">
                    <input type="text" id="nombreUsuario" name="nombreUsuario" required placeholder=" ">
                    <label for="nombreUsuario">Usuario</label>
                    <span class="error-message">Error en el nombre de usuario</span>
                </div>
                <div class="input-group">
                    <input type="password" id="contraseña" name="contraseña" required placeholder=" ">
                    <label for="contraseña">Contraseña</label>
                    <span class="error-message">Error en la contraseña</span>
                </div>
                <div class="forgot-passw">
                    <a onclick="abrirRestablecerModal()" class="forgot-password">¿Has olvidado tu contraseña?</a>
                    <button type="submit">Ingresar</button>
                </div>

                @* <div class="registrarse">
                    <label>¿Aún no tienes una cuenta?</label>
                    <a href="/index.html">Regístrate aquí</a>
                </div> *@
            </form>
        </div>
    </div>

    <!-- Modal Restablecer contraseña -->
    <div id="restablecer-modal" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5);">
        <div style="background-color:#fff; margin:10% auto; padding:20px; width:50%; border-radius:10px;">
            <h2 style="font-weight:600; font-size:1.2rem;">Restablecer contraseña</h2>
            <p style="margin-bottom:10px; font-size:1rem;">Se enviará una nueva contraseña a su correo electronico.</p>

            <input id="EmailInput" style="padding:10px 20px;border:1px solid gray; border-radius:10px; font-size:1rem;" type="text" required placeholder=" ">
            <p class="error-message" style="margin:10px 0px;"></p>

            <button href="#" id="restablecerBtn" style="padding:10px 15px; margin-top:15px 0px; font-size:1rem; border-radius:10px; background-color:var(--verde); border:none; color:white;">Enviar</button>

            <button  onclick="cerrarRestablecerModal()" style="padding:10px 15px; font-size:1rem;  border-radius:10px; background-color:black; border:none; color:white;">Salir</button>
        </div>
    </div>

    <script type="text/javascript" src="~/js/seguridad.js">

    </script>

    <script>

        const email = document.querySelector("#EmailInput");

        const errorMessage = document.querySelector(".error-message");

        document.querySelector("#restablecerBtn").addEventListener("click", function () {
            restablecerContrasena(email.value);
        })
        async function login(event) {
            event.preventDefault();

            const nombreUsuario = document.getElementById('nombreUsuario').value;
            const contraseña = document.getElementById('contraseña').value;

            try {
                const response = await fetch('https://localhost:7162/api/login/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ nombreUsuario, contraseña })
                });

                if (response.ok) {
                    const data = await response.json();
                    sessionStorage.setItem('usuarioId', data.usuario.id);
                    sessionStorage.setItem('tipoUsuario', data.usuario.tipo);

                    if (data.usuario.tipo === 'D') {
                        sessionStorage.setItem('docenteId', data.docente.id);
                        sessionStorage.setItem('nombre', data.docente.nombre);
                        window.location.href = 'index';
                    } else if (data.usuario.tipo === 'A') {
                        sessionStorage.setItem('alumnoId', data.alumno.id);
                        sessionStorage.setItem('nombreAlumno', data.alumno.nombre);
                        sessionStorage.setItem('gradoAlumno', data.alumno.grado);
                        sessionStorage.setItem('seccionAlumno', data.alumno.seccion);
                        window.location.href = 'AlumnoIndex';
                    } else {
                        alert('Tipo de usuario no autorizado');
                    }
                } else {
                    alert('Usuario o contraseña incorrectos.');
                }
            } catch (error) {
                console.error('Error al iniciar sesión:', error);
                alert('Ocurrió un error al intentar iniciar sesión. Por favor, intente nuevamente.');
            }
        }


        function abrirRestablecerModal() {
            document.getElementById('restablecer-modal').style.display = 'block';
        }

        function cerrarRestablecerModal() {
            document.getElementById('restablecer-modal').style.display = 'none';
        }

       

    </script>
</body>
</html>